{% extends "main.html" %}
{% block opengraph %}
<meta property="og:title" content="{{ og_title }}">
<meta property="og:site_name" content="Think Peace">
<meta property="og:url" content="/{{ og_url }}">
<meta property="og:description" content="{{ og_description }}">
<meta property="og:type" content="website">
<meta property="og:image" content="https://www.thinkpeace.app/{{og_image}}">
<meta property="og:image:alt" content="{{ og_image_alt }}">
{% endblock %}
{% block extras %}
{{expiredWish}}
{% if expiredWish is not none %}

<script>
  console.log("that wish is expired");
</script>
{% endif %}
{% endblock %}
